extends page

block inner-content
  table
    thead
      tr
        each opts, key in columns
          td(width=opts.width, class=opts.colClass)= opts.caption || key
    tbody
      each item, i in data
        tr
          each opts, key in columns
            td(class=opts.class, data-align=opts.align, class=opts.colClass)!= opts.renderer ? opts.renderer(key, item) : item[key]
